:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Widths */
  --column-width: 384px;
  --page-margin: 60px;
  --page-width: calc(1200px + (var(--page-margin) * 2));

  /* Spacing */
  --spacing-s: 12px;
  --spacing-base: 16px;
  --spacing-m: 20px;
  --spacing-l: 24px;
  --spacing-xl: 32px;

  /* Colors */
  --dark-bg: #0e1414;
  --white: #fff;
  --red: #c11430;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('/fonts/OpenSans/OpenSans-Light.ttf');
}

html {
  margin: 0;
}

body {
  background-color: var(--dark-bg);
  color: #fff;
  min-height: 100vh;

  font-family: 'OpenSans-Light', sans-serif;
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
}

img {
  width: 100%;
}

.container {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 180px var(--page-margin);
}
