.gallery {
  display: flex;
  gap: var(--spacing-l);
}

.gallery__item {
  flex-basis: 33.33%;
  /* flex-basis: 384px; */
}

.multiImageCol {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.heading {
  padding-bottom: var(--spacing-s);
  border-bottom: 1px solid var(--white);
  font-size: 26px;
  margin-bottom: var(--spacing-xl);
}

.heading-description {
  font-size: 18px;
  margin-bottom: var(--spacing-xl);
}

.be-mindful {
  font-family: 'OpenSans-SemiBold';
}

.be-mindful h3 {
  color: var(--red);
  font-size: 16px;
}

.be-mindful p {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .gallery {
    flex-direction: column;
    gap: var(--spacing-base);
  }

  .gallery__item {
    flex-basis: 100;
  }
}
